@page
@model WebKeep.Pages.Index2Model

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectElement = document.querySelector('select[name="InputCategory.Category"]');
        var inputElement = document.querySelector('input[name="UserInput.Category"]');

        selectElement.addEventListener('change', function () {
            inputElement.value = selectElement.value;
        });
    });
</script>

<div class="container-md">
    <h4>@ViewData["Title"]</h4>
    <form method="post">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="UserInput.Category"></label>
                    <input class="form-control" asp-for="UserInput.Category">
                </div>
                <div class="col">
                    <label asp-for="InputCategory.Category"></label>
                    <select asp-for="InputCategory.Category" asp-items="Model.Categories" class="form-control">
                        <option value=""> -- не выбрано -- </option>
                    </select>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserInput.Description"></label>
            <input class="form-control" asp-for="UserInput.Description">
            <span asp-validation-for="UserInput.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserInput.Link"></label>
            <input class="form-control" asp-for="UserInput.Link">
            <span asp-validation-for="UserInput.Link" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Добавить</button>
        </div>
    </form>
</div>