@page
@model WebKeep.Pages.DataListModel
@{
    ViewData["Title"] = "Список";
}

<div>
    @if (Model.SavedLinksList.Any())
    {
        <div class="container-md">
            <div class="row">
                <div class="col">
                    <form action="../Pages/Create.cshtml">
                        <button asp-page="Create" type="submit">Добавить запись</button>
                    </form>
                </div>
                <div class="col">
                    <select asp-for="InputSort.Categories" asp-items="Model.Categories">
                        <option value="">**не выбрано**</option>
                    </select>
                        
                </div>
            </div>
        </div>
        <div class="container-md">
            <h4>Всего записей в списке: @Model.Count</h4>
            <div class="row">
                <div class="col-md-1">№ п/п</div>
                <div class="col-md-2">Категория</div>
                <div class="col-md-2">Описание</div>
                <div class="col-md-5">Ссылка на ресурс</div>
                <div class="col-md-2">Дата добавления</div>
            </div>
            @foreach (var item in Model.SavedLinksList)
            {
                <partial name="_SavedLinksList" model="item" />
                <div class="col">
                    <div class="row">
                        <div class="col-md-2">
                            <a asp-area="" asp-page="EditPage" asp-route-id="@item.Id">Редактировать</a>
                        </div>
                        <div class="col-md-2">
                            <a asp-area="" asp-page="EditPage" asp-route-id="@item.Id" asp-page-handler="DeleteSavedlinks">Удалить</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md">
                <span class="emptyList">Нет данных для отображения, список пуст!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button name="Create" asp-page="" asp-page-handler="">Добавить запись</button>
            </div>
        </div>
    }
</div>
    